.footer {
  &-main {
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  }
  &-img {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0 12px;
  }
  &-imgs {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  &-content {
    width: 391px;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: white;
  }
}
