.header {
  &-contaner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  &-item {
    text-decoration: none;
  }
  &-link {
    text-decoration: none;
  }
}
