.header {
  &-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-backgroud {
    position: absolute;
    top: 0;
    w1920
    right: 0;
  }
}
.menu {
  display: flex;
  align-items: center;
}
