.header {
  margin-left: 20px;
  &-container {
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-backgroud {
    position: absolute;
    top: 0;
    width: 1920px;
    height: 1080px;
    right: 0;
  }
}
.menu {
  display: flex;
  align-items: center;
}
