.header {
  margin-top: 30px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 46px;
}
