.header {
  padding-top: 56px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
