.header {
  &-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-backgroud {
    position: absolute;
  }
}
.menu {
  display: flex;
  align-items: center;
}
