.header {
  margin-top: 30px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0 48px;
  position: relative;
  &-item:first-child {
    border: 2px solid $text-color;
    width: 68px;
    top: 0;
    right: 0;
  }
  &-link {
    color: inherit;
  }
}
