.menu {
  display: flex;
  align-items: center;
  gap: 0 30px;
  &-link {
    color: #1f1534;
    opacity: 0.5;
    font-size: 18px;
  }
  &-link:after {
    display: block;
    content: "";
    border-bottom: solid 3px $primary-color;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &-link:hover:after {
    transform: scaleX(1);
  }
}
