.project {
  margin-bottom: 20px;
  &-container {
    font-size: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 130px;
  }
  &-heading {
    color: $gray-color;
    font-weight: 300;
  }
  &-img {
    flex-shrink: 0;
    margin-right: 100px;
  }
  &-direc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
  }
  &-right {
    height: 53px;
    width: 53px;
    margin-right: 23px;
  }
}
