.virtual {
  margin-bottom: 175px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-firsd {
    width: 100%;
    max-width: 445px;
    padding-right: 2px;
  }
  &-heading {
    font-size: 48px;
    width: 100%;
    max-width: 197px;
    line-height: calc(56 / 48);
    margin-bottom: 25px;
  }
  &-content {
    font-size: 21px;
    font-weight: 300;
    line-height: calc(32 / 21);
    margin-bottom: 45px;
  }
}
