.container {
    &-head {
      color: red;
    }
    &-icon {
      color: yellow;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
